.main{
    &__header{
        padding: 42px 0;
        margin: 8px 0;
        .header{
            &__wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__nav{
                .nav{
                    &__list{
                        display: flex;
                        list-style: none;
                        align-items: center;
                        gap: 55px;
                    }
                    &__in{
                        a{
                            display: flex;
                            align-items: center;
                            gap: 15px;
                        }
                        
                    }
                }
            }
        }
    }
}